.notifications {
    color: #0d9edf;
    margin-left: 50px;
}

style-notifications-item {
    width: 100%;
    background-color: #0d9edf;
    border-bottom: 1px solid;
    border-block-color: #b0a257;
    padding: 16px;
    left: 0px;
    width: 230px;
    font-weight: bold;
}
