.position-notification {
    position: relative;
    display: block;
    right: 500px;
    top: 10px
}

.modal-dialog {
    max-width: 50%;
    background-color: white;
}

.modal-header {
    height: 55px;
    background-color: #0d9edf;
}

.close {
    position: relative;
    background-color: #0d9edf;
    height: 50px;
    border: none;
    padding: 0;
    position: relative;
    color: black;
    top: 0px
}

.modal-backdrop.show {
    opacity: 0;
}

.text-style-notification {
    color: white;
    position: relative;
    font-style: italic;
    font-synthesis: none;
    margin-left: auto;
    margin-right: auto;
}

.color-font {
    color: white;
}
.width-drop-noti{
    width:100%;
}
.style-icon-noti {
    color: #fff;
}