.modal-dialog {
    max-width: 63%;
    margin-top: 250px;
    background-color: white;
}

.modal-header {
    height: 55px;
    background-color: #0d9edf;
}
.modal-content {
    width: 120%;
}
.close {
    position:relative;
    background-color:#0d9edf;
    height: 50px;
    border: none;
    padding:0;
    position: relative;
    color: black;
    top:0px
}
.color-btnSave {
    background-color: #0d9edf;
}
.color-text{
    color:white;
}