@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
<div class="col-sm-6 size-card-header">
    <div class="card" style="height:900px;">
        <div class="card-body">
            <div class="content">
                <img src="/img/logoo.jpg" href="#" class="img-body" />
                <h1 class="text-body">@localizer["welcome-to-banque_misr_administrative_affairs_sector"]</h1>
            </div><!-- Body / content -->
        </div>
    </div>
</div>
