@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Include the partial view for the Entity list -->
    <partial name="ListEntity.cshtml">
</div>

@section Scripts{
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/js/App.js" asp-append-version="true"></script>
            }